body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand{
  font-family: sans-serif;
}

#navdiv{
  background-color: #e00909;
  /* background-color: transparent; */
  font-size: 1.3rem;
}

#carousel{
 max-height: 550px; 
}

.h-b-N{
  position: relative;
  /* color: #e00909; */
  color: white;
  bottom: 190px;
}
.h-b-p{
  position: relative;
  /* color: #e00909; */
  color: white;
  bottom: 180px;
  font-size: 20px;
}

.card-div{
  height: fit-content;
  margin: 10px;
}

.drop{
  background-color: white;
  border: 2px solid #e00909;
}

#logout{
  color: red;
}
